@import './reset.css';
@import './variables.css';
@import './components.css';
@import './gameboard.css';
@import './player-data.css';

body{
    font-family: system-ui, Roboto;
    background-color: var(--clr-bckgrnd);
}

.container{
    display: grid;
    grid-template-rows: 1fr 7fr;

    height: 100vh;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.9rem;
    color: var(--clr-white);
    background-color: var(--clr-dark-purple);
}

.game-container{
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;

    place-items: center;
}

@media screen and (max-width:600px) {
    .gameboard{
        height: 80%;
    }

    .game-container{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 0.1fr 2fr 0.1fr;
    }
}