:root{
    --clr-bckgrnd: #80829e;
    --clr-hover: #c9c9c9;
    --clr-active: #8b8b8b;
    --clr-blue: #5353ff;
    --clr-black: #272727;
    --clr-white: #ffffff;
    
    --clr-purple-dark: #150f46;
    --clr-purple-light: #594faa;
    --clr-primary: #18ffff;
    --clr-primary-light: #adffff;

    user-select: none;
}